# -*- coding: utf-8 -*-

# Vision settings for $project_name project
#
# For simplicity, this file contains only settings considered important or
# commonly used. You can find more settings consulting the documentation:
#
#     https://github.com/GuangTianLi/vision

SPIDER_MODULES = ['$project_name.data_report']

#default SMTP configure
# SMTP_ADDRESS = "smtp.server"
# SMTP_PORT = 465
# SMTP_USE_SLL = True
# EMAIL_USER = "user"
# EMAIL_PASSWORD = "password"

# default email send address
# EMAIL_ADDRESS_LIST = []

# default use mysql
# USE_MYSQL = True

# file decode(GBK by default)
# FILE_DECODE = "GBK"

# file modes(w+ by default)
# FILE_MODES = 'w+'


# Log
# LOG_ENABLED = False
# default is False, still display log on console
# LOG_STDOUT = False
# default is None, don't write into file
# LOG_FILE = "test.log"
# default is DEBUG,
# LOG_LEVEL = "INFO"

# server
# SERVER_HOST = "127.0.0.1"
# SERVER_PORT = 10001

# the csv and svg file default directory
# DATA_REPORT_FILE_DIRECTORY_DEFAULT = "./data_report_file/"

# Bar chart that presents grouped data with rectangular bars
# with lengths proportional to the values that they represent.
#
# You must define the key of x-axis and y-axis like
#
# X_AXIS = x
# Y_AXIS = y

# create SVG file (disabled by default)
# SVG_FILE = False

# SVG file STYLE (1 by default)
#1  :  bar see: http://pygal.org/en/stable/documentation/types/bar.html
#2  :  pie see: http://pygal.org/en/stable/documentation/types/pie.html
#
# SVG_STYLE = 1